#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}

body{
  background-color: rgb(34, 34, 34);
}

.container {
  width: fit-content;
  color: white;
}

div {
  display: inline-table;
}

p{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -0.1px;
  width: 70px;
  height: 70px;

}



.middle-middle{
  border: 3px solid grey;
}

.top-middle {
  border-left: 3px solid grey;
  border-right: 3px solid grey;
}

.c {
  transition: 0.2s ease-in-out;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2.5px solid white;
}

.h {
  width: 40px;
  height: 40px;
}

.middle-left{
  border-top: 3px solid grey;
  border-bottom:3px solid grey;
}

.middle-right{
  border-top: 3px solid grey;
  border-bottom: 3px solid grey;
}

.bottom-middle {
  border-left: 3px solid grey;
  border-right: 3px solid grey;
}

.x, .x-win, .x-loss{
  width:40px;
  height:40px;
  position:relative;
  border-radius:6px;
}



.x:before,.x:after{
  content:'';
  position:absolute;
  width:36px;
  height:2.5px;
  background-color:white;
  border-radius:2px;
  top:16px;
}

.x-win:before,.x-win:after{
  content:'';
  position:absolute;
  width:36px;
  height:2.5px;
  background-color:rgb(44, 173, 85);
  border-radius:2px;
  top:16px;
}

.x-loss:before,.x-loss:after{
  content:'';
  position:absolute;
  width:36px;
  height:2.5px;
  background-color:rgba(255, 255, 255, 0.63);
  border-radius:2px;
  top:16px;
}

.c-win{
  transition: 0.2s ease-in-out;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2.5px solid rgb(44, 173, 85);
}

.c-loss{
  border: 2.5px solid rgba(255, 0, 0, 0.568);
}

.x:before, .x-win:before, .x-loss:before{
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  transform:rotate(45deg);
  left:2px;
}

.x:after, .x-win:after, .x-loss:after{
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  transform:rotate(-45deg);
  right:2px;
}

